<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean class="example2.quoters.InjectRandomIntAnnotationBeanPostProcessor" />

    <bean class="example2.quoters.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll will be back"/>
    </bean>

</beans>